{
	"env": {
		"browser": true,
		"es2021": true,
		"jest": true
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"ignorePatterns": [
		"./tsconfig.json",
		"./node_modules"
	],
	"extends": [
		"eslint:recommended",
		"react-app",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"plugins": [
		"react",
		"@typescript-eslint"
	],
	"rules": {
		"react/react-in-jsx-scope": "off",
		"react/prop-types": "warn",
		"react/jsx-props-no-spreading": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/no-explicit-any": "warn",
		"@typescript-eslint/no-non-null-asserted-optional-chain": "off",
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		],
		"@typescript-eslint/quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"never"
		]
	}
}