body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#mainHeader {
    background: #333;
    color: white;
}
#mainNav {
    background: #ccc;
    color: black;
}
#mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mainNav li {
    display: inline;
    padding: 5px 10px;
}
#mainNav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
#mainNav li:hover {
    background: #aaa;
}
#jumbo {
    background-image: url('../images/black-sand-beach.jpg');
    background-position: center center;
    min-height: 100px;
    text-align: center;
}
#jumbo h1 {
    color: white;
    font-size: 45px;
    padding-top: 20px;
    line-height: 1.6em;
}
p {
    border: 5px dotted brown;
    padding: 10px;
    margin-top: 40px;
}