body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#mainHeader {
    background: #333;
    color: white;
}
#mainNav {
    background: #ccc;
    color: black;
}
#mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mainNav li {
    display: inline;
    padding: 5px 10px;
}
#mainNav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
#mainNav li:hover {
    background: #aaa;
}
#jumbo {
    background-image: url('../images/black-sand-beach.jpg');
    background-position: center center;
    min-height: 100px;
    text-align: center;
}
#jumbo h1 {
    color: white;
    font-size: 45px;
    padding-top: 20px;
    line-height: 1.6em;
}
#main {
    float: right;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar {
    float: left;
    width: 30%;
    padding: 10px;
    border-right: 1px solid #333;
    box-sizing: border-box;
}
#mainFooter {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
@media (max-width:600px) {
    #main, #sidebar {
        width: 100%;
        float: none;
        border: none;
    }
}